<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria</title>
</head>
<body>

    <header> 
        
        <h1>Welcome to my page pet lovers</h1>
        
    </header>

    <nav>
        <ul>
            <li>
                <a href="/">home</a>
            </li>
                <!-- if User is not authenticate show this -->
            <li>
                <a href="/signin/">sing in</a>
            </li>
            
                <!-- If user is authenticate show this  -->
          
            {% if user.is_authenticated %}
                <li>
                    <a href="/logout/">logout</a>
                </li>
            {% else %}
                <li>
                    <a href="/signup/">sing up</a>
                </li>
            {% endif %}

            <li>
                <a href="/">pet shop</a>
            </li>
            
           
                
        </ul>

    </nav>



    {% block content %}
      
    {% endblock %}
    
</body>
</html>